@font-face {
    font-family: NeoTech;
    src: url("../fonts/NeoTech.otf") format("opentype");
}

h1.word-connectopus {
	font-weight: 100;
}
h1.word-connectopus strong {
	font-weight: 500;
	font-family: NeoTech;
}
body {
	overflow: hidden;
}
nav {
	border-radius: 0 !important;
	position: absolute !important;
	top: 26px;
	left: 50px;
	right: 0;
	padding: 0 17px;
}
nav .system-icons {
	margin-top: 3px;
}
h1 {
	color: white;
	padding: 0;
	font-weight: normal;
}
h2 {
	padding: 0;
	font-size: 16pt;
	font-weight: 300;
	letter-spacing: 1pt;
}
h3 {
	padding: 0;
	font-size: 14pt;
	font-weight: 300;
	letter-spacing: 1pt;
	margin: 5px 0 18px;
}
.btn {
	padding: 5px 8px;
	border-radius: .3em;
}
.clear {
	clear: both;
}
.scroll-overflow {
	overflow: scroll;
}
.modal-overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50px;
	right: 0;
	bottom: 26px;
	top: 52px;
	font-size: 14pt;
	z-index: 2;
}
.modal-overlay .dialog-message {
	margin-bottom: 1em;
}
.modal-overlay .dialog-frame {
	border-radius: 15px;
	padding: .5em;
	position: absolute;
	top: 20%;
	left: 25%;
	right: 25%;
}
.modal-overlay button {
	margin-left: .5em;
	font-size: 14pt;
}
.navbar {
	min-height: 2px;
	/*text-align: right;*/
}
.navbar a {
	padding: 2px 3px;
}
.navbar-inverse {
	border: 0;
}
.no-pad {
	padding: 0;
}
.titlebar {
	-webkit-transition: all 0.3s ease;
}
.titlebar-minimize, .titlebar-fullscreen {
	
}
.main-view {
	-webkit-transition: all 0.3s ease;
	position: absolute;
	top: 52px;
	left: 50px;
	right: 0;
	bottom: 26px;
	overflow: scroll;
}
.settings-is-visible .main-view {
	right: 350px;
}
.context-is-visible .main-view {
	left: 350px;
}
.side-bar {
	position: absolute;
}
.settings-side-bar {
	top: 52px;
	right: -350px;
	width: 350px;
	bottom: 26px;
	-webkit-transition: all 0.3s ease;
}
.settings-is-visible .settings-side-bar {
	right: 0;
}
.context-side-bar {
	-webkit-transition: all 0.3s ease;
	top: 51px;
	left: -300px;
	width: 300px;
	bottom: 26px;
}
.context-is-visible .context-side-bar {
	left: 50px;
}
.tool-bar {
	position: relative;
	-webkit-transition: all 0.3s ease;
	width: 50px;
	top: 0;
	left: 0;
}
.tool-bar ul {
	list-style: none;
	padding: 0;
}
.tool-bar ul li {
	font-size: 16pt;
	padding: 12px;
}
.tool-bar ul.categories li:hover {
	cursor: pointer;
}
.footer-bar {
	-webkit-transition: all 0.3s ease;
	left: 0;
	right: 0;
	bottom: 0;
	height: 26px;
	padding: 2px;
}

#main-app.process-pending .footer-bar, #main-app.process-pending .titlebar, #main-app.process-pending .tool-bar {
	background: orange;
	color: black;
}
#main-app.process-error .footer-bar, #main-app.process-error .titlebar, #main-app.process-error .tool-bar {
	background: red;
	color: white;
}
#main-app.process-complete .footer-bar, #main-app.process-complete .titlebar, #main-app.process-complete .tool-bar {
	background: green;
	color: white;
}

.work-area.home .footer-bar {
	/*background: #000044;*/
}
.work-area.connections .footer-bar {
	/*background: #FF7373;*/
}
.work-area.data .footer-bar {
	/*background: green;*/
}
.work-area.files .footer-bar {
	/*background: orange;*/
}
.current-connections {
	position: absolute;
	top: 0;
	bottom: 26px;
	left: 0;
	width: 300px;
	overflow: scroll;
}
.current-directories, .current-tables {
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	width: 300px;
	overflow: scroll;
}
.current-directories .directory:hover {
	background-color: #777;
	color: white;
	border-radius: 5px;
}
.current-connections ul {
	list-style: none;
	padding: 0;
}
.current-connections li .glyphicon {
	margin-right: .25em;
}
.current-connections .folder-name {
	display: inline-block;
    margin-bottom: .3em;
}
.current-connections .connection {
	cursor: pointer;
	padding: 5px;
	border-radius: 15px;
	position: relative;
}
.current-connections .connection .quick-connection-link {
	display: none;
	float: right;
	border-radius: 15px;
	padding: 3px 2px 1px 6px;
}
.current-connections .connection .quick-connection-link:hover {
	background: green;
	color: white;
}
.current-connections .connection:hover .quick-connection-link {
	position: absolute;
	display: inline-block;
	right: 3px;
	top: 3px;
}
.current-connections .connection.connected .quick-connection-link {
	display: none;
}
.folder {
	border-radius: 15px;
	border-top-left-radius: 0;
}
.current-connections .folder .connections {
	padding-left: 1.5em;
	overflow: hidden;
}
.current-connections .folders .label-container {
	cursor: pointer;
}
.connection-details, .add-connection-page{
	padding: 1em;
	border-radius: 5px;
	margin-top: 1em;
}
.current-connections .foot-toolbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
input {
	padding: 3px;
	text-align: center;
}
.input-group .input-group-addon {
	min-width: 150px;
}
.input-group {
	margin-bottom: .5em;
}
.input-group input {
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 3px;
	text-align: center;
}
.input-group .dropdown, .input-group .dropdown button, .input-group button {
	width: 100%;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.input-group .dropdown .dropdown-menu {
	width: 100%;
}
.input-group.is-not-selected .dropdown, .input-group.is-not-selected .dropdown button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.foot-toolbar {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.foot-toolbar button {
	border: 0 solid #777;
	position: relative;
	padding: 2px 4px;
	margin: 3px;
}
.foot-toolbar button .inverse-small {
	position: absolute;
    right: 5px;
    top: 8px;
    font-size: 8pt;
}
.foot-toolbar button.btn-default:hover, .foot-toolbar button.btn-default:focus {
	outline: none;
}
.foot-toolbar button.btn-danger:hover, .foot-toolbar button.btn-danger:focus {
	outline: none;
}

.connection {
	-webkit-transition: all 0.3s ease;
}
.connection.is-prime .glyphicon {
	border-radius: 50%;
	padding: 3px;
	margin-left: -3px;
}

.active-connection.is-prime.error .glyphicon {
	color: red !important;
}
.active-connection.is-prime.error .glyphicon-star {
	color: white;
	background: #600;
	border-color: #900;
}
.active-connection.is-prime.pending .glyphicon-star {
	background: yellow;
}
.panel-default {
	margin-bottom: 0;
}
.panel-button {
	margin-top: 13px;
	margin-left: .5em;
}
.title-input-field {
	width: 100%;
	text-align: left;
}
.active-connections {
	/*
	position: absolute;
	bottom: 0;
	*/
	margin: 0;
}
.active-connections .active-connection {
	position: relative;
	width: 48px;
	border: 1px solid rgba(0, 0, 0, .25);
}
.active-connections .active-connection .glyphicon {
    z-index: 5;
}
.active-connections .active-connection .glyphicon-star {
	z-index: 5;
}
.active-connections .active-connection .glyphicon-triangle-bottom {
	position: absolute;
    left: 15px;
    top: 42px;
    color: #0F0;
    font-size: 14pt;
    text-shadow: 0 2px rgba(0, 0, 0, .25);
}
.active-connections .active-connection.is-prime .glyphicon-triangle-bottom {
	top: 42px;
}
.active-connections .status-icon {
	width: 25px;
	height: 25px;
	margin: 11px 11px 5px 11px;
	display: inline-block;
}
.status-icon {
    height: 15px;
    width: 15px;
    border: 2px solid #666;
    border-radius: 50%;
    margin-top: 3px;
}

.active-connection {
	position: relative;
}
.active-connections.mouse-is-over .rollover-flag {
	left: 30px !important;
}
.active-connection .rollover-flag {
	z-index: 3;
	-webkit-transition: all 0.3s ease;
	color: black;
	white-space: nowrap;
	position: absolute;
    display: inline-block;
    left: 25px;
    top: 0;
    padding: 14px 10px 14px 1.5em;
    height: 46px;
    font-size: 12pt;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.active-connection.error {
	background: red !important;
	color: white !important;
}
.active-connection.error .rollover-flag {
	left: 30px !important;
	background: red !important;
	color: white !important;
}
.active-connection .glyphicon-star {
    font-size: 16pt;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 1px 1.5px;
    margin: 10px;
    border: 2px solid green;
    color: green;
}
.active-connection .glyphicon-star.connected {
	background: #0F0;
    color: green;
    border: 2px solid green;
}
.active-connection .glyphicon-star.pending {
	animation: blinker .2s linear infinite;
	background: yellow;
	border: 2px solid orange;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.status-icon {
	position: relative;
}
.status-icon.pending {
	background: yellow;
	border-color: orange;
	animation: blinker .2s linear infinite;	
}
.status-icon.error {
	background: red;
	border-color: #900;	
}
.status-icon.connected {
	background: #0F0;
	border-color: green;	
}
.status-icon .highlight, .glyphicon .highlight {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, .75);
	border-radius: 50%;
}
.active-connection .status-icon {
	z-index: 5;
}
.active-connection .status-icon .highlight, .active-connection .glyphicon .highlight {
	top: 2px;
	left: 3px;
	width: 7px;
	height: 7px;
}
ul.directories, ul.tables {
	list-style: none;
	padding: 0;
	font-size: 11pt;
}
ul.directories li, ul.tables li {
	cursor: pointer;
}
.files-page.container-fluid {
	padding: 0;
}
.file-compare-listing {
	border: 1px solid rgba(0, 0, 0, .25);
	padding: .25em;
}
.current-directories .directory {
	padding: 2px 2px 2px 10px;
}
.directory .glyphicon-folder-close {
	margin-right: 6px;
}
.project-tabs {
	position: absolute;
    right: 100px;
    left: 4px;
	font-size: 11pt;
	height: 40px;
	overflow: scroll;
}
.project-tabs ul {
	white-space: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
	transform: translateY(1px);
}
.project-tabs ul li.tab {
	background: #F8F8F8;
	display: inline-block;
	margin: 0 1px;
	padding: 0;
	transform: translateY(2px);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	border: 0;
}
.project-tabs ul li.tab.selected {
	cursor: default;
}
.project-tabs ul li.tab.add-tab {
	/*transform: translateX(-5px) translateY(2px) !important;*/
}
.project-tabs ul li.tab input {
	padding: 0;

}
.project-tabs ul li.tab.add-tab {
	padding: 2px 10px 0px;
}
.project-tabs ul li .glyphicon-remove, .project-tabs ul li .glyphicon-save {
	visibility: hidden;
	padding: 2px;
}
.project-tabs ul li:hover .glyphicon-remove /*, ul.project-tabs li:hover .glyphicon-save*/ {
	visibility: visible;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}
.welcome-page .info-panel {
	border: 1px solid gray;
	margin: .5em 0;
	border-radius: 5px;
	padding: 1em;
	background: #eee;
}
.project-news ul  {
	list-style: none;
	padding: 0;
}
.project-news a {
	color: black;
}
.project-news .milestones-list h3 {
	margin: 5px;
}
.project-news .milestone {
	cursor: pointer;
}
.files-page .connection-name {
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	padding: .25em;
	border: 1px solid rgba(0, 0, 0, .25);
}
.files-page {
	position: relative;
}
.files-page .file-listing-table {
	margin-top: 32px;
}
.files-page .select-file-checkbox {
	margin-right: 0.5em;
}
.files-page .is-not-in-sync {
	color: red;
	font-weight: bold;
	cursor: pointer;
}
.files-page .is-not-in-sync .non-clickable {
	color: #bb2e00;
	text-decoration: none;
	font-weight: normal;
}
.files-page .is-not-in-sync {
	
}
.files-page .is-not-in-sync:hover .non-clickable:hover {
	color: #bb2e00;
	text-decoration: none;
	cursor: default;
}
.files-page .files-nav-bar {
	z-index: 1;
	position: fixed;
	background: #EEE;
	color: black;
	left: 50px;
	right: 0;
	top: 51px;
	height: 34px;
	padding: 3px 25px;
	-webkit-transition: all 0.3s ease;
}
.context-is-visible .files-page .files-nav-bar {
	left: 350px;
}
.files-page .files-nav-bar button {
	padding: 3px 6px;
	margin: 2px 2.5px;
}
.footer-bar .label {
	color: #777;
}
.path-link button.btn-default {
	background-color: #EEE;
}
.path-link button.btn-default:hover {
	background-color: #DDD;
	color: black;
}
.file-listing-table input[type='checkbox'] {
	font-size: 40pt;
	margin-right: 5px;
}
.file-listing-table .row-is-in-sync input[type='checkbox'] {
	visibility: hidden;
}
.file-listing-table .row-is-in-sync {
	font-style: italic;
	opacity: .75;
}
.hide-matching-files .file-listing-table .row-is-in-sync {
	display: none;
}
.context-is-visible .diff-view {
	left: 336px;
}
.diff-view {
	position: absolute;
	left: 36px;
	right: 0;
	top: 85px;
	bottom: 26px;
	overflow: scroll;
}
.diff-view .diff-compare {
	background: white;
}
.diff-view h3 {
	font-weight: 200;
	font-size: 16pt;
	background: #DDD;
	color: #999;
	margin: 0;
	padding: .5em;
}
.diff-view th {
	text-align: center;
	color: black;
}
.diff-view pre {
	white-space: pre-wrap;
	background-color: transparent;
	border-width: 0;
	padding: 0 1em;
	margin: 0;
	display: inline;
}
.diff-view .line-number {
	color: #555;
	opacity: .75;
}
.diff-view .line-number.prime-file.removed .line-counter,  .diff-view .line-number.compare-file.added .line-counter {
	visibility: hidden;
}
.diff-view .added {
	background: #CFC !important;
	opacity: 1 !important;
}
.diff-view .added h3 {
	background: #CFC !important;
	color: green !important;
	text-align: center;
}
.diff-view .added pre {
	color: green;
}
.diff-view .removed {
	background: #FCC !important;
	opacity: 1 !important;
}
.diff-view .removed h3 {
	background: #FCC !important;
	color: red !important;
	text-align: center;
}
.diff-view .removed pre {
	color: red;
	text-decoration: line-through;
}
.diff-view td, .diff-view th {
	border-left: 1px solid rgba(0, 0, 0, .25);
}
.diff-compare h2 {
	font-weight: 400;
}
.diff-compare td {
	padding: 0 .25em;
}